/*====================[Arial]====================*/
@font-face{
  font-family:'Arial Regular';
  src:url('../fonts/Arial/arial.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Arial Bold';
  src:url('../fonts/Arial/arialbd.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/*====================[Arial]====================*/
@font-face{
  font-family:'Roboto Regular';
  src:url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto Medium';
  src:url('../fonts/Roboto/Roboto-Medium_0.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto Italic';
  src:url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}